<img class="triangle_image" src="/assets/header.jpg">

<div class="stereotype">
	<h2><%=@stereotype.stereotype_name%></h2>
	<h3><%=@stereotype.tagline%></h3>
	<span><%=@stereotype.job%></span>
</div>

<section>
	<header>
		<div class="horizontal_line"></div>
		<span>YOU'RE MEETING UP WITH <%=@stereotype.friends%></span>
		<div class="horizontal_line"></div>
		<div class="vertical_line"></div>
	</header>

	<div class="instagram">
		<% @res.each do |insta| %>
			<a href="http://www.instagram.com/<%=insta['user']['username']%>" target="_blank">
				<img class='insta-img' src="<%=insta['images']['standard_resolution']['url']%>" alt="Instagram Images">
			</a>
		<% end %>
	</div>
</section>

<section>
	<header>
		<div class="horizontal_line"></div>
		<span>THE RESTAURANT</span>
		<div class="horizontal_line"></div>
		<div class="vertical_line"></div>
	</header>
	<main class="results">
		<img class="full_bleed" src="<%=@restaurant.image%>">
		<div class="flip_container" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="front white_box">
					<div class="magical_vertical_align">
						<h2><%=@restaurant.restaurant_name%></h2>
						<h3><%=@restaurant.description%></h3>
					</div>
				</div>
				<div class="back white_box">
					<div class="magical_vertical_align">
						<span>
							"<%=@restaurant_data.businesses.first.snippet_text[0..100]%>..."
							<a href="<%=@restaurant_data.businesses.first.url%>" target="_blank">READ MORE</a>
						</span>
						<h3>
							<%=@restaurant_data.businesses.first.location.display_address[0]%><br>
							<%=@restaurant_data.businesses.first.location.display_address[1]%>
						</h3>
					</div>
				</div>
			</div>
		</div>
	</main>
</section>

<section>
	<header>
		<div class="horizontal_line"></div>
		<span>THE BAR</span>
		<div class="horizontal_line"></div>
		<div class="vertical_line"></div>
	</header>
	<main class="results">
		<img class="full_bleed" src="<%=@bar.image%>">
		<div class="flip_container" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="front white_box">
					<div class="magical_vertical_align">
						<h2><%=@bar.bar_name%></h2>
						<h3><%=@bar.description%></h3>
					</div>
				</div>
				<div class="back white_box">
					<div class="magical_vertical_align">
						<span>
							"<%=@bar_data.businesses.first.snippet_text[0..100]%>..."
							<a href="<%=@bar_data.businesses.first.url%>" target="_blank">READ MORE</a>
						</span>
						<h3>
							<%=@bar_data.businesses.first.location.display_address[0]%><br>
							<%=@bar_data.businesses.first.location.display_address[1]%>
						</h3>
					</div>
				</div>
			</div>
		</div>
	</main>
</section>

<section>
	<header>
		<div class="horizontal_line"></div>
		<span>THE WEEKEND PLAN</span>
		<div class="horizontal_line"></div>
		<div class="vertical_line"></div>
	</header>
	<main class="results">
		<img class="full_bleed" src="<%=@weekend.image%>">
		<div class="flip_container" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="front white_box">
					<div class="magical_vertical_align">
						<h2><%=@weekend.weekend_name%></h2>
						<h3><%=@weekend.description%></h3>
					</div>
				</div>
				<div class="back white_box">
					<div class="magical_vertical_align">
						<%if @stereotype.stereotype_name == "hipster" %>
								<span>"...I mean, if I actually wake up in time I'll totally do this. I'm so down."</span>
								<h3>Somewhere in Brooklyn</h3>
							<% elsif @stereotype.stereotype_name == "iBanker" %>
								<span>"...This money's not gonna spend itself."</span>
								<h3>Any Penthouse Anywhere</h3>
							<% elsif @stereotype.stereotype_name == "tourist" %>
								<span>"...I like to visit, but I just could never live here."</span>
								<h3>Staring at a Map</h3>
							<% elsif @stereotype.stereotype_name == "brogrammer" %>
								<span>"...Are there gonna be hot chicks there?"</span>
								<h3>Anywhere Beer is Served</h3>
						<%end%>	
					</div>
				</div>
			</div>
		</div>
	</main>
</section>

<div class="bottom_buttons">
	<%= link_to "CHOOSE NEW ADVENTURE", new_adventure_path, class: "submit_button" %>
</div>

<div class="bottom_buttons">
	<%= form_tag adventures_path, method:"POST" do %>
		<%= button_tag "SAVE ADVENTURE", class: "submit_button" %>
	<% end %>
</div>
