<!DOCTYPE html>
<html>
<head>
  <title>ProjectThree</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>

</head>
<body>
<%= render 'partials/header' %>


<%= yield %>


<footer>
	<div>
		<a href="/"><img src="/assets/absurd_nyc_logo_100px.png"></a>
		<p>ALL RIGHTS RESERVED. 2015</p>
	</div>
</footer>

</body>
</html>
